body{
    box-sizing: border-box;
    position: relative;
    margin: 0;
  
    background-image: url(backdrop.png), radial-gradient(circle, white, crimson);

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center; 
}

ul li  {
    list-style: none;
    text-decoration: none;
}
.navigation li a, .side-bar ul li a, .icons ul li a {
    text-decoration: none;
    color: black;
}

.navigation {
    display: flex;
    border: 2px solid black;
    padding: 1.2em;
    height: 2em;
    margin-top: .3em;
     margin-left: 1.2em;
     text-align: center;
     justify-content: center;
     /* background-color: ; */
     
}
.navigation li   {
flex: 1;
text-align: center;
margin-left: 10em;
}
.side{
    display: inline;
    /* position: fixed; */
}
 p a  {
   position: absolute;
   z-index: 1;
   /* position: relative; */
    top: 5px;
   left: 30px; 

}

/* side bar styling */


.side-bar ul {
    transform: translateY(-5.6em);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 5em;
    height: 80vh;
    margin-top: 0;
    margin-left: 1.2em;
    padding: 10em .5em; 
justify-content: center;
 text-align: center;
}

.side-bar ul li {
padding: 3em 0;
}
i {
    font-size: 1.5em;
}
.icons ul li a i {
    padding: .5em .5em;
}
.icons ul { 
    transform: translateY(-20em);
    
}



/* .first-body {
    display: block;
    position: relative;
    border: 2px solid black;
    width: 30%;
    max-width: 50%;
    left: 10%;
    transform: translateY(-80rem);
    
}  */
 /* .main-body > div {
    display: inline-block;

}  */


.mag {
/* background-color: teal;
padding: 4em;
height: 250px; */
display: flex;
position: relative;
justify-content: space-around;
margin-bottom: 20rem;
margin-top: -20em;
}
.mag .maga {
    /* background-color: rgb(84, 84, 84); */
    border: 5px  solid white;
    
    border-radius: 40px;
    background-image: url(/images/woman\ art1.jpg);
    background-size: contain;
    height: 650px;
    width: 550px;
    margin-top: -50rem;
    /* grid-row: 1/4; */
}



.side-text1{
    padding: 1em;
    position: absolute;
width: 30%;
border: 2px solid black;
transform: translate(185%);
top: 13%;
/* margin-bottom: 200em; */
/* margin-top: -100rem; */
/* transform: translateY(00%); */
}
.side-text2{
    padding: 1em;
    position: absolute;
    bottom: 44%;
    left: 10%;
width: 30%;
border: 2px solid black;
}

.mag .even {
    border-radius: 50px;
    border: 5px  solid white;
    /* box-shadow: 2px 2px 4px black; */
    height: 750px;
    width: 550px;
    /* background-color: yellow; */
    background-image: url(/images/portrait\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.co-box {
    box-sizing: border-box;
    background-color: cadetblue;
    padding: 3.5em;
    margin: 2em;
    width: 60%;
    position: relative;
left: 20%;
transform: translateY(-65rem);
}

.box1 {
    display: flex;
    flex-wrap: wrap;
}
.right{
    margin-left: auto;
}
.inbox{
    
    background-color: coral;
    height: 7em;
    padding: 5em 0;
    width: 50%;
    }

    .left {
        margin-right: auto;
flex: 1 1 50%;
width: 50%;
max-width: 50%;
}
.foot {
    position: relative;
    display: flex;
    /* border: 2px solid black; */
    padding: 3em 0;
    margin-bottom: -2em;
    /* margin-top:30em; */
}

.get {
    margin-left: 15em;
    font-size: 2em;
    margin-top: 2em;
    color: white;
    z-index: 1;
    /* margin-right: em; */
    line-height: 10px;
}
.form {
    z-index: 1;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 10%;
    height: 10%;
    padding: .5em;
    margin-left: 10em;
   /* background-color: thistle; */
    /* margin: 2em; */
}


.foot .icons2 ul  {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    font-size: 1.5em;
    /* margin-right: 50em; */
    margin-left: -10em;
    transition: all 500ms ease-in-out;
    /* z-index: 2; */
}


.foot .icons2 ul li a {
    color: white;
    transition: all 200ms ease-in-out;
}
.icons2{
    position: relative;
    z-index: 1;
   width: 40%;
   height: 40px;
   /* border: 2px solid white; */
   transform: translateY(15em);

   /* transform: translateX(-50em); */
}

.icons2 ul li a:hover  {
font-size: 2em;
}


/* #name {
    margin: 2em;
}

#last {
    margin: 2em;
}
#email {
margin: 2em;
} */

.align {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.button {
    color: white;
    background-color: cadetblue;
    margin: 2em;
    text-decoration: none;
    border: 2px solid none;
    border-radius: 3px;
    padding: .5em 2em;
}

.custom-shape-divider-bottom-1606250649 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1606250649 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 377px;
}

.custom-shape-divider-bottom-1606250649 .shape-fill {
    fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1606250649 svg {
        width: calc(100% + 1.3px);
        height: 171px;
    }
}